<mat-list>
  <mat-list-item *ngFor="let fart of farts">
    <div mat-list-avatar class="avatar-container">
      <img mat-list-avatar class="avatar-image" src="{{fart.user.profile.avatar}}" alt="profile avatar">
    </div>
    <h4 mat-line>{{fart.ftype}}</h4>
    <p matLine>
      <span style="font-size: xx-small"> {{fart.date_farted | date: "MM/dd/yyy"}} </span>
    </p>
    <button mat-raised-button color="warn" (click)="openDialog(fart)"> {{fart.score}} </button>
  </mat-list-item>
</mat-list>

